[Desktop Entry]
Name=minidex-lyrics
Comment=Music player with real-time synchronized lyrics, MPRIS controls, and ambient album art
Icon=multimedia-audio-player
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=
X-KDE-PluginInfo-Author=dexorto
X-KDE-PluginInfo-Email=user@example.com
X-KDE-PluginInfo-Name=org.kde.plasma.minidex-lyrics
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/dexorto
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.multimedia
